#inTurnFadingTextG{
width:240px;
}

.inTurnFadingTextG{
color:#000000;
font-family:Arial;
font-size:30px;
text-decoration:none;
font-weight:normal;
font-style:normal;
float:left;
-moz-animation-name:bounce_inTurnFadingTextG;
-moz-animation-duration:0.84s;
-moz-animation-iteration-count:infinite;
-moz-animation-direction:linear;
-webkit-animation-name:bounce_inTurnFadingTextG;
-webkit-animation-duration:0.84s;
-webkit-animation-iteration-count:infinite;
-webkit-animation-direction:linear;
-ms-animation-name:bounce_inTurnFadingTextG;
-ms-animation-duration:0.84s;
-ms-animation-iteration-count:infinite;
-ms-animation-direction:linear;
-o-animation-name:bounce_inTurnFadingTextG;
-o-animation-duration:0.84s;
-o-animation-iteration-count:infinite;
-o-animation-direction:linear;
animation-name:bounce_inTurnFadingTextG;
animation-duration:0.84s;
animation-iteration-count:infinite;
animation-direction:linear;
}

#inTurnFadingTextG_1{
-moz-animation-delay:0.28s;
-webkit-animation-delay:0.28s;
-ms-animation-delay:0.28s;
-o-animation-delay:0.28s;
animation-delay:0.28s;
}

#inTurnFadingTextG_2{
-moz-animation-delay:0.35s;
-webkit-animation-delay:0.35s;
-ms-animation-delay:0.35s;
-o-animation-delay:0.35s;
animation-delay:0.35s;
}

#inTurnFadingTextG_3{
-moz-animation-delay:0.42s;
-webkit-animation-delay:0.42s;
-ms-animation-delay:0.42s;
-o-animation-delay:0.42s;
animation-delay:0.42s;
}

#inTurnFadingTextG_4{
-moz-animation-delay:0.49s;
-webkit-animation-delay:0.49s;
-ms-animation-delay:0.49s;
-o-animation-delay:0.49s;
animation-delay:0.49s;
}

#inTurnFadingTextG_5{
-moz-animation-delay:0.56s;
-webkit-animation-delay:0.56s;
-ms-animation-delay:0.56s;
-o-animation-delay:0.56s;
animation-delay:0.56s;
}

#inTurnFadingTextG_6{
-moz-animation-delay:0.63s;
-webkit-animation-delay:0.63s;
-ms-animation-delay:0.63s;
-o-animation-delay:0.63s;
animation-delay:0.63s;
}

#inTurnFadingTextG_7{
-moz-animation-delay:0.7s;
-webkit-animation-delay:0.7s;
-ms-animation-delay:0.7s;
-o-animation-delay:0.7s;
animation-delay:0.7s;
}

#inTurnFadingTextG_8{
-moz-animation-delay:0.77s;
-webkit-animation-delay:0.77s;
-ms-animation-delay:0.77s;
-o-animation-delay:0.77s;
animation-delay:0.77s;
}

@-moz-keyframes bounce_inTurnFadingTextG{
0%{
color:#000000;
}

100%{
color:#FFFFFF;
}

}

@-webkit-keyframes bounce_inTurnFadingTextG{
0%{
color:#000000;
}

100%{
color:#FFFFFF;
}

}

@-ms-keyframes bounce_inTurnFadingTextG{
0%{
color:#000000;
}

100%{
color:#FFFFFF;
}

}

@-o-keyframes bounce_inTurnFadingTextG{
0%{
color:#000000;
}

100%{
color:#FFFFFF;
}

}

@keyframes bounce_inTurnFadingTextG{
0%{
color:#000000;
}

100%{
color:#FFFFFF;
}

} 